@media only screen and (max-width:600px) {
    .hamburger{
        display: block;
        margin-left:-35%;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navMenu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000;
        width: 100%;
        text-align: center;
        transition:0.3s;
        display: flex;
    }
    .nav-item{
        margin: 16px 80px;
        text-align: center;
        float: none;


    }
    .navMenu.active{
        left: 0;
    }
    #homeima{
        display: block;
        width: 250px;
        height: 250px;
        margin-top: 5%;
        margin-right:20%;
    }
    h2{
        font-size: 30;
        margin-left:2%;
        padding:10px;

    }
    p{
        font-size:20;
        margin-top: -10px; 
        margin-left:2%;
        padding:10px; 
    }
    button{
        margin-top:3.5%;
        margin-left:4%;
        width:200px;
        border-radius: 30px;
        padding:10px;
        background:#B998FF; 
        border: none;
        color: #fff;
        font-size:25px;
        cursor: pointer;
    }
    #firma{
        margin-right: 25%;
        margin-top: 5%;
        width: 200px;
        height: 200px;
    }
    #twitter{
        width: 30px;
        height: 30px;
        float: right;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 1px;
        display: block;
        
    }

}